
html{
	--colour1: #17252a;
	--colour2: #2b7a78;
	--colour3: #3aafa9;
	--colour4: #def2f1;
	--colour5: #feffff;
	height:100%;
}
body{
	font-family: 'Encode Sans Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	background: linear-gradient(135deg, var(--colour3), var(--colour4));
	display: inline-block;
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 .gradient-text{
	background: linear-gradient(-45deg, turquoise, aquamarine);
	background-clip: text;
	color: rgba(0,0,0,0);
}

.main{
	margin-top: 40px;
}
.heading-container{
	z-index: 2;
	width: 100%;
	color: var(--colour4);
	min-height: 50px;
	max-height: 100px;
	float:center;
	background: var(--colour2);
	border-radius: 0px 0px 30px 30px;
	position: fixed;
	box-shadow: 4px 4px 8px var(--colour1);	
	border: 2px solid var(--colour1);
}
.header{
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
}
.container{
	width: 50%;
	padding: 10px;
	border-radius: 15px;
	margin: 20px;
	background-color: var(--colour2);
	display: inline-block;
	border: 4px solid var(--colour1);
	box-shadow: 0px 0px 10px var(--colour2)
}

.container-alt{
	width: 50%;
	padding: 10px;
	border-radius: 15px;
	margin: 20px;
	background: linear-gradient(-45deg, turquoise, aquamarine);
	display: inline-block;
	margin-left: 47.5%;
	border: 4px solid var(--colour1);
	box-shadow: 0px 0px 10px var(--colour2)
}

.buffer{
	height: 150px;
	clear: all;
}

.text{
	color:var(--colour5);
	float: center;
	font-size: 17px;
}

.text-alt{
	color:var(--colour1);
	float: center;
	font-size: 17px;
}

@keyframes unhover{
	from {
		background-color: var(--colour3);
		box-shadow: 0px 0px 10px var(--colour1);
	}
	to {
		background-color: var(--hover-color);
		box-shadow: 0px 0px 0px var(--colour1);
	}
}

@keyframes hover {
	from {
		background-color: var(--hover-color);
		box-shadow: 0px 0px 0px var(--colour1);
	}
	to {
		background-color: var(--colour3);
		box-shadow: 0px 0px 10px var(--colour1);
	}
	
}
.dropbutton {
	--hover-color:var(--colour3);
	color: var(--colour5);
	text-align:center;
	padding: 16px;
	font-size: 16px;
	border: 2px solid var(--colour2);
	height: 20px;
	border-radius: 4px;
	animation-name: unhover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	display: inline-block;
}

.dropbutton:hover{
	--hover-color:var(--colour3);
	animation-name: hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.navbar{	
	background-color:var(--colour2);
	position:fixed;
	top: 75px;
	left: 15%;
	right: 15%;
	width:70%;
	height:auto;
	z-index:1;
	clear: none;
	box-sizing: content-box;
	border-radius: 0px 0px 15px 15px;
	border: 2px solid var(--colour1);
	color:var(--colour2);
	padding: 10px;
	box-shadow: 4px 4px 8px var(--colour1);	
}

.navClicked{
	animation-name: FadeOut;
	animation-duration: 1000ms;
}

@keyframes FadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

a{
	color: aquamarine;
	text-decoration: none;
}

h3{
	margin: 0px 0px 5px 0px;
}